*, *::before, *::after {
  box-sizing: border-box;
}

button {
  border: none;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#root {
  width: 100%;
  height: 100%;
}

html {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  p, h1, h2, h3, h4, h5, h6, span, label, legend {
    color: var(--text-invert);
  }
}

p, h1, h2, h3, h4, h5, h6, span, label, legend {
  font-family: Gilroy, sans-serif !important;
  color: var(--text) !important;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

#root, #__next {
  isolation: isolate;
}