.wrapper {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  min-width: 100vw;
  max-height: var(--toolbar-height);
  width: 100%;
  padding: 10px 30px;
  background-color: var(--toolbar-bg);
}


.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & .text {
    color: var(--white) !important;
    font-size: 11px !important;
    max-width: 80px;
    width: 100%;
    text-align: center;
  }

  &Item {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    & a {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: var(--text-invent);

      & svg {
        margin: 0 auto;
        color: var(--white);
        height: 25px;
        width: 25px;
      }
    }

    &:hover {
      color: var(--white);
      filter: brightness(90%);
    }

    &.active {
      & svg {
        color: var(--primary) !important;
      }
    }

    &:active {
      & a {
        color: var(--white);
        filter: brightness(70%);
      }
    }
  }
}
