.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  text-align: start;
  font-weight: 900 !important;
}

.list {
  display: grid;
  grid-gap: 20px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

  &Item {
    cursor: pointer;
    width: 100%;
    max-width: 180px;
    position: relative;
    min-height: 180px !important;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 10px;
    transition: .3s all ease;


    &:hover {
      filter: brightness(90%);
    }
    &:active {
      filter: brightness(80%);
    }
    & .name {
      font-weight: 900 !important;
      color: var(--white) !important;
      position: relative;
      z-index: 10;
      -webkit-text-stroke-width: 0.3px;
      -webkit-text-stroke-color: black;
    }

    & .image {
      border-radius: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;

    }
  }
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
}

.div2 {
  grid-area: 1 / 3 / 4 / 5;
}

.div3 {
  grid-area: 3 / 1 / 6 / 3;
}

.div4 {
  grid-area: 4 / 3 / 6 / 5;
}