.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100000;
  width: 100vw;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  border-radius: 20px;
  background-color: var(--bg) !important;

  & input {
    color: var(--text) !important;
  }

  & span {
    cursor: pointer;

    & svg {
      color: var(--text) !important;
    }
  }
}

.coins {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: 65px;
  font-weight: 900;
  z-index: 20;
  border-radius: 30px;
  padding: 8px 6px;
  background-color: var(--progress);
  cursor: pointer;
  & svg {
    width: 20px;
    height: 20px;
  }
  & span {
    font-size: 14px !important;
    color: var(--white) !important;
  }
}

.avatar {
  cursor: pointer;
  background-color: var(--primary);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  & svg {
    color: var(--text-invert);
    min-width: 22px;
    min-height: 22px;
    width: 100%;
    height: 100%;
  }
}