.title{
    display: block;
    color: #192A3E;
     
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.1px;
  
    margin-bottom: 10px;
}