.wrapper {
  background-color: var(--bg);
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
}

.swiper {
  width: 100% !important;
  height: 300px;
  position: relative;
  &Slide {
    width: 100% !important;
  }
}

.image {
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.title {
  margin: 0 !important;
}

.description {
  font-size: 18px !important;
  margin-top: 10px;
  font-weight: 300 !important;
}

.info {
  padding: 30px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 10;
  background-color: var(--bg);
}

.place {
  display: flex;
  align-items: center;

  & svg {
    width: 25px;
    height: 25px;

    & path {
      fill: var(--primary);

    }
  }

  &Name {
    font-size: 18px !important;
    font-weight: 900 !important;
    color: var(--primary) !important;
  }
}

.heading {
  display: flex;
  justify-content: space-between;

  &Info {
    display: flex;
    gap: 10px;
    align-items: center;

    & svg {
      cursor: pointer;
      width: 20px;
      height: 20px;
      transition: .3s all ease;
      color: var(--text);

      & path {
        transition: .3s all ease;

        stroke: var(--text);
      }

      &:hover {
        color: var(--primary);
      }

      &:hover path {
        stroke: var(--primary);
      }
    }
  }
}

.rating {
  display: flex;
  gap: 5px;
  align-items: center;

  &Text {
    font-weight: 700 !important;
    font-size: 18px !important;
  }

  & svg {
    width: 20px;
    height: 20px;
    color: yellow;
  }
}

.panorama {
  border-radius: 30px;
  position: relative;
  width: 100%;
  height: 140px;
  display: flex;
  align-items: end;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    filter: brightness(80%);
  }

  &:active {
    filter: brightness(90%);
  }

  &Title {
    margin-left: 20px;
    position: relative;
    z-index: 1000;
    color: var(--white) !important;
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}