.app.light {
  --primary: #F8897A;
  --primary-hover: #0958d9;
  --primary-active: #003eb3;


  --secondary: #000;
  --text: #141414;
  --text-invert: #fff;


  --link: #1677ff;
  --error: #f5222d;

  --bg: #ffffff;
  --bg-light: #FCE5ED;


  --toolbar-bg: #9DE8ED;

  --gray: #8c8c8c;


  --white: #ffffff;
  --black: #141414;
  --black-hover: #1f1f1f;
  --black-active: #141414;


  --progress: #9DE8ED;
}