.wrapper {
  margin-top: 30px;
  min-height: 40px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-light);
  border-radius: 20px;
  padding: 2px;
}

.value {
  padding: 8px 2px;
  cursor: pointer;
  flex: 1 1 45%;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 13px !important;
}

.active {
  background-color: var(--primary) !important;
  color: var(--text-invert) !important;
}