.wrapper {
  position: relative !important;
  padding: 10px;
  background-color: var(--bg-light);
  border-radius: var(--border-radius-1);
  font-weight: 300 !important;
  height: 130px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  &:last-child {
    background-color: var(--toolbar-bg);
    align-items: end;
    text-align: right;

    & img {
      left: 0;
      bottom: 10px;
    }

  }

  & .title {
    font-weight: 700 !important;
    font-size: 12px !important;
  }

  & .text {
    font-size: 11px !important;
  }

  & .price {
    font-size: 11px !important;
  }

  & img {
    overflow: hidden;
    transform: scaleX(90%);
    position: absolute;
    bottom: 20px;
    right: -5px;
    left: auto;
  }

  & h1, span {
    max-width: 60%;
    font-weight: 300 !important;
    margin: 0 !important;
  }

}